/*MAIN H2 "SUBTITULOS" SECCION ARMA TU PC*/

.h2 {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(134, 117, 117);
    border-radius: 5px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}